<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel= "stylesheet" href= "/static/css/style.css">
    <title>Elections Voting</title>
</head>
<body>

<div class="card text-center">
    <div class="card-header">
        CHOOSE CANDIDATE
    </div>
    <div class="card-body">
        <div class="jumbotron" th:each="c : ${candidates}">
            <div class="media">
                <!--<div class="media-body">-->
                    <img class="align-self-center my-img" th:src="@{/static/img/{filename}(filename=${c.photo})}"
                         th:align="${c.surname}">
                    <h4 class="text" th:text="${c.name}+' '+${c.surname} "></h4>
                    <a th:href="@{/candidates/vote/{id}(id=${c.id})}" class="btn btn-outline-secondary btn-block">CHOOSE
                        CANDIDATE</a>
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        ELECTIONS VOTING
    </div>
</div>


</body>
</html>