<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Voting page 3</title>
</head>
<body>


<div style="width:800px; margin:0 auto;">
    <div style="width: 90%; margin:10% auto;">

        <div class="card text-center">
            <div class="card-header">
                CHOOSE CANDIDATE
            </div>
            <div class="card-body">

                    <div class="flip-card" th:each="c : ${candidates}" style="width: 40%; margin:5% auto; display:inline-block;">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" >
                                <img class="align-self-center my-img" th:src="@{/img/{filename}(filename=${c.photo})}"
                                     style="width:100px;height:100px;"
                                     th:alt="${c.name}">
                            </div>
                            <div class="flip-card-back">
                                <h3 class="text" th:text="${c.name}+' '+${c.surname} "></h3>
                                <a th:href="@{/candidates/vote/{id}(id=${c.id})}" class="btn btn-danger btn-lg">CHOOSE
                                    CANDIDATE</a>
                            </div>
                        </div>
                    </div>



            </div>
            <div class="card-footer text-muted">
                ELECTIONS VOTING
            </div>
        </div>
    </div>
</div>



</body>
</html>