<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Voting page 1</title>
</head>
<body>


<div style="width:800px; margin:0 auto;">
    <div style="width: 50%; margin:15% auto;">
<div class="card text-center">
    <div class="card-header">
        VOTER'S DETAILS
    </div>
    <div class="card-body">
        <h4 class="text" th:text="'Age: '+ ${voter.age}"></h4>
        <h4 class="text" th:text="'Gender: '+${voter.gender}"></h4>
        <h4 class="text" th:text="'Education: '+${voter.education}"></h4>
        <a class="btn btn-outline-secondary btn-block" href="/politicalParties" role="button">ACCEPT</a>
    </div>
    <div class="card-footer text-muted">
        ELECTIONS VOTING
    </div>
</div>
    </div>
</div>

</body>
</html>