<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Elections Voting</title>
</head>
<body>

<div style="width:800px; margin:0 auto;">
<div style="width: 50%; margin:20% auto;">

<div class="card text-center">
    <div class="card-header">
        ELECTIONS VOTING
    </div>
    <div class="card-body">
        <a href="/voters/token" class="btn btn-primary">START VOTING</a>
    </div>
    <div class="card-footer text-muted">
        VOTER'S PANEL
    </div>
</div>
</div>
</div>


</body>
</html>